// colors
$accentColor: #faf353;
$accentColorDark: #006c65;
$primaryDarkColor: #4aada7;
$primaryLightColor: #c5f1ef;

$primaryFontColor: #0c0a00;
$secondaryFontAndBlocksColor: #f6f6f6;

$secondaryFontColorDark: #616161;
$secondaryFontColorLigth: #888888;

$linkTextColor: #2080f6;

$errorColor: #a80e0e;

//font
$mainFontFamily: 'Roboto', sans-serif;
$secondFontFamily: 'Inter', sans-serif;

//other
$boxShadowDark:
  inset 6px 7px 8.4px 0px rgba(42, 103, 99, 0.25),
  inset -6px -7px 20.1px 0px rgba(42, 103, 99, 0.5);
$popUpBackColor: rgba(217, 217, 217, 0.5);
$boxShadowAccentColor: 3px 4px 8px 0 rgba(250, 243, 83, 0.5);
$btnBlur: blur(4px);
