@import 'variables';
:host {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-body {
  font-size: 14px;
  color: $secondaryFontColorDark;
}

.modal-header {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.modal-content {
  padding: 48px;
}
.modal-bottom {
  margin-top: 32px;
}
