<div class="container-center">
  <div class="default-content-block">
    <div class="auth__form">
      <h1>Придумайте новий пароль</h1>
      <form [formGroup]="newPasswordForm">
        <app-form-control
          label="Новий Пароль"
          name="password"
          [control]="newPasswordForm.get('password')"
          [isRequired]="true"
          type="password"
          placeholder="Пароль"
          [iconsUrl]="['assets/icons/eye-closed_icon.svg', 'assets/icons/eye-open_icon.svg']"
        ></app-form-control>
        <app-form-control
          label="Повторити пароль"
          name="confirmPassword"
          [control]="newPasswordForm.get('confirmPassword')"
          [isRequired]="true"
          type="password"
          placeholder="Повторити пароль"
          [iconsUrl]="['assets/icons/eye-closed_icon.svg', 'assets/icons/eye-open_icon.svg']"
        ></app-form-control>
        <app-button type="submit" title="submit" [disabled]="newPasswordForm.invalid">
          Встановити новий пароль
        </app-button>
      </form>
    </div>
  </div>
</div>
