@import './styles/normalize.scss';
@import 'variables';

* {
  font-family: $mainFontFamily;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primaryDarkColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 20px;
}

h2,
button {
  font-size: 18px;
}

a {
  font-size: 16px;
}
