<div class="container-center">
  <div class="default-content-block">
    <div class="auth__form">
      <h1>Для відновлення паролю введіть свою електронну пошту</h1>
      <form [formGroup]="forgotPasswordForm">
        <app-form-control
          label="Пошта"
          name="email"
          [control]="forgotPasswordForm.get('email')"
          [isRequired]="true"
          type="email"
          placeholder="Пошта"
        ></app-form-control>

        <app-button type="submit" title="submit" [disabled]="forgotPasswordForm.invalid">
          Відправити код
        </app-button>
      </form>
    </div>
  </div>
</div>
